b, strong, .strong {
    font-size: 1em;
    font-family: $bold-font;

    span {
        font-weight: 500;
        font-family: $bold-font;
    }
    .number {
        font-weight: 600;
        font-family: $bold-font;
    }
}
h1, .h1 {
    font-size: 6em;
    letter-spacing: -1.5px;
    color: $text-color;
}
h2, .h2 {
    font-size: 2em;
    letter-spacing: 0px;
    font-weight: 300;
    font-family: $primary-font;
    color: $text-color-dark;
    
    i {
        vertical-align: middle;
    }
}
h3, .h3 {
    color: $text-color;
    font-size: 1.2em;
    font-weight: 500;
    font-family: $bold-font;
}
h4, .h4 {
    font-size: 2.3em;
    color: $text-color-dark;
    font-family: $light-font;
}
h5, .h5 {
    font-size: 1.2em;
    line-height: 1.1em;
    color: $text-color-dark;
    font-family: $light-font;
}
h6, .h6 {
    font-size: 1.2em;
    letter-spacing: 0.15px;
    color: $text-color-dark;
}
.subtitle-1 {
    font-size: 1.8em;
    font-weight: 300;
    font-family: $light-font;
    letter-spacing: 0.6px;
    color: $text-color;
}
.subtitle-2 {
    font-size: 1.2em;
    font-weight: 500;
    font-family: $bold-font;
    letter-spacing: 0.1px;
    color: $primary-dark;
}
p, .p, .body-1 {
    font-size: 1em;
    letter-spacing: 0.5px;
    line-height: 1.2em;
    
    i {
        vertical-align: middle;
    }
}
small, .small {
    color: $text-color-light;
    font-size: 14px;
    font-weight: 400;
}
.message {
    color: $primary-color;
    font-weight: 500;
    font-family: $bold-font;
    font-size: 1.1em;
    margin-top: 16px;
}
.warning-message {
    background: $warning-color;
    color: $neutral-color;
    font-family: $primary-font;
    padding: 8px 24px;
    border-radius: 4px;

    strong, span {
        color: $neutral-color;
        font-size: 1em;     
    }
}

.body-2 {
    font-size: 0.9em;
    letter-spacing: 0.5px;
}
.caption {
    font-size: 0.8em;
    letter-spacing: -0.1px;
    font-weight: 100;
    color: $text-color-dark;
}
.overline {
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 1.5px;
}

.no-underline {
    text-decoration: none;
}

.ellipsis {
    overflow: hidden !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 400px;
}

a, .a { cursor: pointer; }

.text-center  { text-align: center !important; }
.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-justify { text-align: justify; }
.text-upper   { text-transform: uppercase; }

.second-text {
    color: $text-color-dark !important;
}
.light-text {
    color: $text-color-light !important;
}

.icon {
    &.align-middle {
        vertical-align: middle;
    }

    &.align-sub {
        vertical-align: sub;
    }
}

.big-data-label {
    display: inline-block;
    width: 100%;
    font-size: 1.4em;
    margin-bottom: 8px;

    i.icon {
        display: inline-block;
        margin-right: 8px;
        padding: 10px 0px;
        color: $primary-color;
        background-color: $primary-light;
        border-radius: 50%;
        width: 38px;
        height: 38px;
        text-align: center;
    }
}

.text-box {
    background-color: $primary-light;
    padding: 4px 16px;
    margin-top: 8px;
}
.crossed {
    text-decoration: line-through;
}

.medium-number {
    font-size: 1.8em;
}
.big-number {
    font-size: 2.4em;
}

.stat-number {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 2em;

    .stat-number-type {
        font-size: 0.7em;
    }

    .icon {
        font-size: 0.55em;
        width: 30px;
        height: 30px;
        display: inline-block;
        text-align: center;
        padding: 7px 0px;
        border-radius: 50%;
        background: $success-color;
        color: #fff;
    }
}

.stat-box {
    min-height: 144px;
}
.chart {
    max-width: 250px;
    margin: 0 auto;
}

.terms {
    margin-top: 16px;
    
    a {
        color: #a5a5a5;
        font-size: 1em;
        text-decoration: none;
        padding: 8px;
        cursor: pointer;
    }
}

.highlightable-text {
    color: $text-color;

    span {
        color: inherit;
    }
}
.italic {
    font-style: italic;
}

.vertical-align-top {
    vertical-align: top;
}

.color-primary { color: $primary-color !important; }
.color-secondary { color: $secondary-color !important; }
.color-tertiary { color: $tertiary-color !important; }

.color-danger { color: $danger-color; }
.color-success { color: $success-color; }
.color-warning { color: $warning-color; }
.color-gray { color: $text-color-light !important; }

.text-white { color: #fff !important; }

mark {
    background-color: #ff0;
    font-weight: inherit;
    font-family: inherit;
}

.label-icon {
    position: relative;
    top: 3px;
    display: inline-block;
    margin-left: 4px;
}

.status-label {
    background: $danger-light;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.list-line-separated {
    > li {
        list-style: none;
        padding: 12px 0px;
        border-bottom: 1px solid #E4E8F0;

        &:last-of-type {
            border-bottom: none;
        }
    }
}

.list-verticaly-marked {
    > li {
        list-style: none;
        padding: 12px 0px;
        border-left: 5px solid #E4E8F0;
        padding-left: 16px;
        margin-bottom: 8px;
        background: #f9f9fb;
    }
}


@media screen and (max-width: $medium-size) {
    .big-number {
        font-size: 2.2em;
    }
}

@media screen and (max-width: $small-size) {
    .big-number {
        font-size: 1.6em;
    }
    p, span {
        font-size: 0.9em;
    }
    .subtitle-1 {
        font-size: 1.4em;
    }
}