@charset "UTF-8";

.action-icon {
  background: $primary-light;
  padding: 8px;
  border-radius: 50%;
  padding: 14px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;

  i.icon {
    color: $primary-color;
    font-size: 1.4em;
  }

  &.danger {
    background: $danger-light;

    i.icon {
      color: $danger-color;
    }
  }

  &.warning {
    background: $warning-light;

    i.icon {
      color: $warning-color;
    }
  }

  &.success {
    background: $success-light;

    i.icon {
      color: $success-color;
    }
  }

}

@font-face {
  font-family: "itl-track";
  src:url("./fonts/itl-track.eot");
  src:url("./fonts/itl-track.eot?#iefix") format("embedded-opentype"),
    url("./fonts/itl-track.woff") format("woff"),
    url("./fonts/itl-track.ttf") format("truetype"),
    url("./fonts/itl-track.svg#itl-track") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "itl-track" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "itl-track" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-th-large:before {
  content: "\61";
}
.icon-truck:before {
  content: "\62";
}
.icon-user:before {
  content: "\63";
}
.icon-bar-chart:before {
  content: "\64";
}
.icon-cog:before {
  content: "\65";
}
.icon-question:before {
  content: "\66";
}
.icon-chevron-down:before {
  content: "\67";
}
.icon-chevron-left:before {
  content: "\68";
}
.icon-chevron-right:before {
  content: "\69";
}
.icon-chevron-up:before {
  content: "\6a";
}
.icon-plus:before {
  content: "\6b";
}
.icon-bell-two:before {
  content: "\6c";
}
.icon-search:before {
  content: "\6d";
}
.icon-chatbox-working:before {
  content: "\6e";
}
.icon-ban:before {
  content: "\6f";
}
.icon-exclamation:before {
  content: "\70";
}
.icon-check:before {
  content: "\71";
}
.icon-calendar-o:before {
  content: "\73";
}
.icon-link:before {
  content: "\74";
}
.icon-map-marker:before {
  content: "\75";
}
.icon-bars:before {
  content: "\76";
}
.icon-ship:before {
  content: "\77";
}
.icon-times:before {
  content: "\78";
}
.icon-dot-3:before {
  content: "\72";
}
.icon-arrow-left:before {
  content: "\79";
}
.icon-arrow-down:before {
  content: "\7a";
}
.icon-arrow-right:before {
  content: "\41";
}
.icon-arrow-up:before {
  content: "\42";
}
.icon-building:before {
  content: "\43";
}
.icon-book:before {
  content: "\44";
}
.icon-phone:before {
  content: "\45";
}
.icon-envelope:before {
  content: "\46";
}

.icon-terminal:before {
  content: "\47";
}
.icon-outbound:before {
  content: "\48";
}
.icon-inbound:before {
  content: "\49";
}
.icon-dcn:before {
  content: "\4a";
}
.icon-dfi:before {
  content: "\4b";
}
.icon-warehouse:before {
  content: "\4c";
}
.icon-play-circle:before {
  content: "\4d";
}
.icon-container-inv:before {
  content: "\4e";
}
.icon-telegram:before {
  content: "\4f";
}
.icon-whatsapp:before {
  content: "\50";
}
.icon-sms:before {
  content: "\51";
}
.icon-email:before {
  content: "\52";
}
.icon-lock:before {
  content: "\53";
}
.icon-unlock:before {
  content: "\54";
}
.icon-clone:before {
  content: "\55";
}
.icon-android-add-circle:before {
  content: "\57";
}
.icon-file-symlink-file:before {
  content: "\56";
}







