$primary-color: #006cff; // AZUL
$primary-dark: #163a8b;
$primary-light: #e9f3fd;

$secondary-color: #d63649; // ROJO
$secondary-dark: #ff7e00;
$secondary-light: lighten($secondary-color, 65%);

$tertiary-color: #594cc3; // VIOLETA
$tertiary-dark: #541e90;
$tertiary-light: lighten($tertiary-color, 35%);

$danger-color: #d63649; // ROJO
$danger-dark: darken($danger-color, 35%);
$danger-light: #fae2e5;

$warning-color: #f7c137; // AMARILLO
$warning-dark: #968007;
$warning-light: #fef6e2;

$success-color: #33ac2e; //VERDE
$success-dark: darken($success-color, 35%);
$success-light: #e1f4e0;

$border-color: #e4e8f0; // GRIS CLARO (mas oscuro que el fondo)

$text-color: #2e384d; //GRIS texto
$text-color-dark: #8e9091; //GRIS titulos
$text-color-light: #b0bac9; //GRIS label
$text-color-menu: #8798ad; //GRIS
$light-hover-color: #eff9ff; //GRIS
$disabled-color: #f9faff; //GRIS
$disabled-border-color: #e0e7ff; //GRIS

$bg-color: #f4f6fc; // GRIS
$neutral-color: #fff; // BLANCO

$small-size: 576px;
$medium-size: 768px;
$large-size: 992px;
$x-large-size: 1200px;
$xx-large-size: 1400px;

$header-size: 64px;
$sidebar-size: 216px;

$light-font: "latolight", Arial, sans-serif;
$primary-font: "latoregular", Arial, sans-serif;
$bold-font: "latobold", Arial, sans-serif;

$second-font: "latoregular", Arial, sans-serif;

$gap: 16px;
