.box {
	display: flex;
	flex-direction: column;
	margin-top: 80px;
	background-color: $neutral-color;
	border-radius: 3px;
	box-shadow: 0px 0px 15px 1px #e1e5ff;
	padding: 24px 16px;
	// overflow: hidden;
	align-items: center;

	&.condensable {
		.slide-up-down-container {
			overflow: hidden;
		}

		header {
			margin-bottom: 0px !important;
		}
	}

	&.little-box {
		min-height: 220px;

		p {
			line-height: 1.5em;
		}
	}

	&.box-form {
		padding-right: 20%;
	}




	.box-title {
		color: $text-color-light;
		text-transform: uppercase;
		font-size: 1.2em;

		letter-spacing: 0.05em;
		margin-bottom: 8px;

		padding-right: 32px;
	}

	&.little-header {
		padding: 16px;

		.box-header {}
	}

	.close-btn {
		position: absolute;
		right: 8px;
		top: 8px;
		cursor: pointer;
		display: block;
		width: 40px;
		height: 40px;
		overflow: hidden;
		padding: 8px 0px;
		z-index: 99999;
		text-align: center;

		i {
			font-size: 1.4em;
			color: $text-color-light;
			transition: all 0.3s;
		}

		&:hover {
			i {
				color: $text-color;
			}
		}



	}


	.form {
		width: 100%;
		height: 50px;
		max-width: 400px;
		position: relative;
		overflow: hidden;


		input {
			// margin-left: 40px;
			width: 100%;
			height: 20%;
			background: none;
			color: black;
			padding-top: 30px;
			border: none;
			outline: 0px;
		}

		;

		.lbl-nombre {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			pointer-events: none;
			border-bottom: 1px solid #2ecece;
		}

		;

		.lbl-nombre:after {
			content: '';
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 100%;
			border-bottom: 3px solid #2ecece;
			transform: translateX(-100%);
			transition: all 0.3s ease;
		}

		;

		.text-nomb {
			position: absolute;
			bottom: 10px;
			left: 0;
			transition: all 0.3s ease;
			color: #6198d6;
		}

		;

		input:focus+.lbl-nombre .text-nomb,
		input:valid+.lbl-nombre .text-nomb {
			transform: translateY(-150%);
			font-size: 14px;
			color: #2ecece;
		}

		;

		input:focus+.lbl-nombre:after,
		.form input:valid+.lbl-nombre:after {
			transform: translateX(0%);
		}

		;

		@media only screen and (min-width:320px) and (max-width:768px) {

			width: 85px;


		}

	}

	.buttons-steps {
		margin-top: 99px;
		display: flex;
		justify-content: space-between;

		button {
			margin-left: 50px;
			margin-right: 50px;
			width: 150px;
			height: 50px;
			font-size: 1.3rem;
			// padding: 1em 1em 0.5em 3em;
			background: #6198d6;
			color: white;
			border-radius: 10px;

		}


	}

	button {
		// margin-left: 50px;
		// margin-right: 50px;
		width: 150px;
		height: 50px;
		font-size: 1.3rem;
		// padding: 1em 1em 0.5em 3em;
		background: #6198d6;
		color: white;
		border-radius: 10px;

	}



	.box-header {
		position: relative;
		margin-bottom: 40px;

		// margin-left: 40px;
		h2 {
			display: inline-block;
		}

		h3 {
			margin: 60px 0px 50px 0px;
			padding-left: 20px;


			font-size: 2em;
		}

		select {

			box-shadow: 0 10px 25px rgba($color: #818181, $alpha: 0.5);
			font-size: 1.1rem;
			padding: 1em 3em 0.5em 2em;
			background: #d6d6da;
			color: black;
			border: 0;

		}


		.custom-select {
			position: relative;

		}

		.custom-arrow {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			background: rgb(182, 176, 176);
			height: 100%;
			width: 3rem;
			pointer-events: none;
		}

		.custom-arrow::before,
		.custom-arrow::after {
			--size: 0.6em;
			content: '';
			position: absolute;
			width: 0;
			height: 0;

			left: 50%;

			transform: translate(-50%, -50%);
		}

		.custom-arrow::before {

			border-left: var(--size) solid transparent;
			border-right: var(--size) solid transparent;
			border-bottom: var(--size) solid rgb(255, 255, 255);
			top: 30%;
		}

		.custom-arrow::after {

			border-left: var(--size) solid transparent;
			border-right: var(--size) solid transparent;
			border-top: var(--size) solid rgb(255, 255, 255);
			top: 65%;
		}

		.header-icon {
			position: absolute;
			right: 0;
			top: 50%;
			font-size: 1em;
			padding: 16px;
			margin: -16px;
			margin-top: -24px;
			line-height: 0.7em;
			color: $text-color;
			cursor: pointer;
		}

		.dot-dropdown {
			top: -7px;
		}

		.box-header-sub-text {
			position: absolute;
			right: 40px;
			top: 0;

			.btn {
				position: relative;
				top: -8px;
			}
		}

	}

	.box-footer {
		padding-top: 8px;
		padding-bottom: 8px;
	}

	
	
}



.offers {
	display: flex;

	justify-content: space-between;

	.container-quantity {


		display: flex;
		justify-content: space-around;
	
		button {
	
			color: rgb(0, 0, 0);
			padding-bottom: 20px;
			width: 40px;
			height: 20px;
			background-color: rgb(146, 140, 140);
	
		}
	}
	.offer {
		width: 180px;
		height: 100px;
		
		margin-left: 10px;
		background-color: rgb(20, 194, 20);

		h3 {
			margin-top: 5px;
			font-size: 15px;
			color: rgb(255, 255, 255);
		}
	}
}





@media screen and (max-width: $medium-size) {
	.box.box-form {
		padding-right: 16px;
	}
}


@media screen and (max-width: $small-size) {

	.box.little-box {
		min-height: 0px;
	}
}