.files-list {

	li {
		display: inline-block;
		list-style: none;
    	margin-right: 8px;
	}

	.file-button {
        position: relative;
    	display: inline-block;
        background: #f9f9fb;
		padding: 12px 16px;
		border-radius: 0;
		border: none;
        border-left: 5px solid $border-color;
        cursor: pointer;
        padding-left: 34px;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
        	background: $border-color;
        }

        i.icon {
			position: absolute;
			top: 11px;
			left: 8px;
			font-size: 19px;
        }
	}
}