#mainHeader .access-modals {
    
    .grid {
    	align-items: normal;
    }

	.access-modals-card {
		border: 1px solid $primary-color;
	    padding: 16px 16px;
	    max-width: 80%;
    	margin-top: 16px;
    	position: relative;

    	.icon {
		    color: $primary-color;
    		position: absolute;
		    right: -47px;
		    top: 50%;
		    font-size: 1.4em;
		    margin-top: -12px;
    	}
	}

	.avatar-box {
		margin-top: 16px;
	}
}